---
import Layout from '@/layouts/layout.astro';

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}

const result = await Astro.locals.api.basket.GET('/api/list/{id}', {
  params: { path: { id } },
});
---

<Layout>
  {result.data?.displayName}
  <ul>
    {
      result.data?.items?.map((item) => (
        <li>
          {item.displayName} - {item.quantity} - {item.unit}
        </li>
      ))
    }
  </ul>
  {result.error}
</Layout>
