---
import { actions } from 'astro:actions';
import { Icon } from 'astro-icon/components';

const result = await Astro.locals.api.basket.GET('/api/list');
---

{
  result.data && (
    <ul>
      {result.data?.map((list) => (
        <li>
          <span>{list.displayName}</span> -{' '}
          <a href={`/list/${list.id}`}>{list.id}</a>
          <a href={`/list/${list.id}/edit`}>
            <Icon name='tabler:edit' />
            <span class='sr-only'>Edit</span>
          </a>
          <form method='post' action={actions.basket.list.delete}>
            <input type='hidden' name='id' value={list.id} />
            <button class='text-error'>
              <Icon name='tabler:trash' />
              <span class='sr-only'>Delete</span>
            </button>
          </form>
        </li>
      ))}
    </ul>
  )
}
{!result.error && !result.data && <p>No entries available.</p>}
{result.error && <p class='text-error'>Failed to get entries.</p>}
